.table1 {
    position: relative;
    background-color: rgb(230, 217, 217);
    width: 100%;
    height: 200px;
}
.header {
    position: absolute;
    padding-left: 165px;
    padding-right: 150px;
    padding-top: 10px;
    padding-bottom: 10px;
    line-height: 20px;
    right: 0px;
    left: 0px;
}
.address {
    position: absolute;
    /* border: 1px solid black; */
    top: 60px;
    bottom: 10px;
    right: 150px;
    left: 150px;
    display: inline-block;
}
.store1, .store2, .store3 {
    /* border: 1px solid red; */
    float: left;
    width: 33.33%;
    padding: 15px;
    padding-top: 0px;
}
.store1, .store2 {
    border-right: 1px solid black;
}
* {
    box-sizing: border-box;
}
#bold {
      font-weight: bold;
      height: 2px;
}
.table2 {
    position: relative;
    background-color: rgb(230, 217, 217);
    width: 100%;
    height: 350px;
    top: 5px;
    left: 0px;
}  
.father {
    position: absolute;
    border-bottom: 1px groove darkgray;
    top: 25px;
    right: 150px;
    left: 150px;
    display: inline-block;
    bottom: 70px; 
}
.info, .policy, .powerhouse, .social {
    /* border: 1px solid red; */
    float: left;
    padding: 15px;
    padding-top: 0px;
}
.info {
    width: 15%;
}
.policy {
    width: 15%;
}
.powerhouse {
    width: 30%;
}
.social {
    width: 40%;
    /* border: 1px solid black; */
}
.footer {
    text-align: center;
    position: absolute;
    right: 150px;
    bottom: 30px;
    /* border: 1px solid black; */
    left: 150px;
}
.end {
    position: relative;
    text-align: center;
    top: 20px;
    width: 100%;
}
p {
    margin: 10px;
    margin-left: 0px;
}
h3 {
    margin-bottom: -10px;
}
i {
    margin-left: -70px;
}
img {
    width: 150px;
    height: 80px;
}
#face, #twitter, #pin, #goo, #yt {
    width: 30px;
    height: 30px;
}
#visa {
   padding-left: 80px;
   padding-right: 0px;
   width: 200px;
}