.signin {
    border-bottom: 0.5px groove #606684;
    margin-top: 15px;
    height: 50px;
    margin-left: 150px;
    margin-right: 150px;
}
ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
}
li {
    display: inline;
    line-height: 50px;
}
.left {
    float: left;
    padding-right: 5px;
}
.right {
    float: right;
    padding-left: 5px;
}
.logo {
    border-top: 0.1px solid #d8d3d3;
    height: 100px;
    margin-left: 150px;
    margin-right: 150px;
}
.biz {
    position: relative;
    margin-left: 0px;
    height: 100px;
    width: 250px;
    float: left;
}
#biz {
    margin-top: 20px;
    width: 250px;
    height: 90px;
}
.giohang, .hotlineimg {
    float: right;
}
#hotlineimg {
    margin-top: 15px;
    height: 80px;
    width: 200px;
}
#giohang {
    height: 90px;
    width: 120px;
}
.find {
    position: relative;
    margin-left: 30px;
    width: 600px;
    margin-top: 40px;
    margin-bottom: 40px;
    float: left;
}
#product, #input, #submit {
    height: 35px;
    float: left;
}
#product {
    padding-left: 10px; 
    width: 30%;
}
#input {
    padding-left: 10px;
    width: 55%;
}
#submit {
    color: white;
    background-color: #151d49;
    width: 15%;
    border: none;
}
.list {
    position: relative;
    background-color: #efefef;
    height: 50px;
    width: 100%;
    padding-right: 150px;
    padding-left: 150px;
    display: inline-block;
}
#danhmuc {
    height: 50px;
    width: 250px;
    padding-left: 50px;
    font-weight: bold;
    border: none;
    background-color: #ffffff;
}

  
.dropdown {
    display: inline-block;
    position: relative;
  }
  
.dd-button {
    display: inline-block;
    border: none;
    padding: 10px 30px 10px 20px;
    background-color: #ffffff;
    cursor: pointer;
    white-space: nowrap;
    height: 50px;
    width: 250px;
    font-weight: bold;
    line-height: 30px;
  }
  
.dd-button:after {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    width: 0; 
    height: 0; 
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 5px solid black;
}
  
.dd-input {
    display: none;
}
  
.dd-menu {
    position: absolute;
    top: 100%;
    height: 50px;
    width: 250px;
    border: 0.1px groove #efefef;
    padding: 0;
    border-top: none;
    margin: 0;
    background-color: #ffffff;
    list-style-type: none;
}
  
.dd-input + .dd-menu {
    display: none;
} 
  
.dd-input:checked + .dd-menu {
    display: block;
} 
  
.dd-menu li {
    padding: 0px 20px;
    cursor: pointer;
    white-space: nowrap;
}

.navbar {
    position: absolute;
    left: 400px;
    height: 50px;
    width: 730px;
    /* border: 1px solid black; */
    display: inline-block;
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: visible;
}
  
li {
    float: left;
}
  
li a, .dropbtn {
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0px 20px;
    color: black;
}
  
li.dropdown {
    display: inline-block;
    position: relative;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2);
    z-index: 1;
    width: 300px;
}
  
.dropdown-content a {
    color: black;
    padding: 0px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.support {
    position: absolute;
    top: 0px;
    right: 150px;
    height: 50px;
    padding-right: 20px;
    line-height: 50px;
    font-weight: bold;
}
.support:hover {
    text-decoration-line: underline;
    cursor: pointer;
}
#giohang:hover, #biz:hover, #submit:hover, #product:hover, .right:hover, .left:hover {
    cursor: pointer;
}
* { 
    -moz-box-sizing: border-box; 
    -webkit-box-sizing: border-box; 
    box-sizing: border-box;
}