body {
    position: static;
    background-color: black;
    background-image: url(../image/stella.jpg);
    background-position: initial;
    background-repeat: no-repeat;
    background-size: cover;
}

.frame {
    position: relative;
    background-color: rgb(243, 243, 136);
    width: 800px;
    height: 350px;
    margin: auto;
    margin-top: 150px;
    border: 0.5px groove cyan;
}

.row2, .row3, .row5, .email, .pass, .city, .state, .z {
    position: absolute;
    height: 65px;
    /* border: 0.5px solid black; */
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.city {
    top: 195px;
    width: 400px;
}

.z {
    padding-left: 0px;
    top: 195px;
    width: 120px;
    left: 680px;
}

.state {
    padding-left: 0px;
    top: 195px;
    width: 280px;
    left: 400px;
}

.email {
    width: 400px;
}

.pass {
    padding-left: 0px;
    width: 400px;
    left: 400px;
}

.row2 {
    top: 65px;
    width: 800px;
}

.row3 {
    top: 130px;
    width: 800px;
}

.row5 {
    position: absolute;
    top: 260px;
    bottom: 0px;
}

#sign-in-btn {
    margin-top: 5px;
    background-color: blue;
    color: white;
    border: none;
    width: 60px;
    height: 35px;
    border-radius: 6px;
}

#state, #city, #z, #address, #pass, #email, #address2 {
    width: 100%;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 1px 0px;
}

* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.input-invalid {
    border: 1px solid red;
}

.display-none {
    display: none;
}

.a {
    color: red;
    margin-top: 1px;
    font-size: small;
}